pixate-config {
    parse-error-destination: console;
    cache-styles: auto;
    image-cache-count: 100;
}

view {
    background-color: #F6F1ED;
}

label {
    text-color: #333;
    font-size: 16px;
}